.table-container {
    overflow-x: auto;
    margin-top: 30px;
}
.table-container {
    margin-top: 30px;
}

.table-scroll {
    max-height: 300px;
    overflow: auto;
    border: 1px solid #ddd;
    border-radius: 6px;
}
